
.task-item{
  color:white;
  display: flex; 
  align-items: center; 
  flex-direction: row;
  border-bottom: 1px solid #ccc; 
  background-color: rgba(255, 255, 255, 0.1);
  width: 550px;
  gap:40px;

}

.task-item span{
  padding:1rem;
}

.list-greeting{
  margin-top:0;
  margin-bottom: 20px;
}

.task-list{
  display: flex;
  flex-direction: column;
  padding-left:3rem;
}

.delete-btn{
  cursor: pointer;
  background-image: url(../img/delete.png);
  width: 30px;
  background-size: cover;
  border:none;
  background-repeat: no-repeat;
  background-color: transparent;
  padding:15px;
  filter: invert(100%);
}

.accouncement{
  color:white;
}